<h1> My Games </h1>

<tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.user_id %></td>
        <td><%= game.location %></td>
        <td><%= game.time %></td>
        <td><%= game.date %></td>
        <td><%= game.sport %></td>
        <td>
        <td>
          <a href="/games/<%= game.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/games/<%= game.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_game/<%= game.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
