<div class="page-header">
  <h1>Game #<%= @game.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>User</dt>
  <dd><%= @game.user_id %></dd>

  <dt>Location</dt>
  <dd><%= @game.location %></dd>

  <dt>Time</dt>
  <dd><%= @game.time %></dd>

  <dt>Date</dt>
  <dd><%= @game.date %></dd>

  <dt>Sport</dt>
  <dd><%= @game.sport %></dd>

  <dt>Rsvp</dt>

  <a href="/create_invite?game_id=<%= @game.id %>&user_id=<%= current_user.id %>&rsvp=<%= true  %>" class="btn btn-success">I'm in!</a>

  <a href="/create_invite?game_id=<%= @game.id %>&user_id=<%= current_user.id %>&rsvp=<%= false  %>" class="btn btn-danger">Can't make it.</a>

  <dt>Players</dt>
  <dd><%= @game.user_id %></dd>


  <% @game.players.each do |player| %>
        <dd value="<%= player.id %>"><%= player.id %></dd>
      <% end %>




</dl>
